.CardForm {
    width: 60%;
}

.CardForm-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24rem;
}

.CardForm-wrapper {
    width: 40%;
    & form {
        display: flex;
        flex-direction: column;

        & label {
            color: var(--very-dark-violet);
            font-size: 1.8rem;
            text-transform: uppercase;
            padding: 2.5rem 0 0.5rem 0;
        }

        & input {
            font-size: 2rem;
            color: var(--dark-grayish-violet);
            height: 4rem;
            border: 1px solid var(--light-grayish-violet);
            border-radius: 10px;
            padding: 2rem 1rem;

            &::placeholder {
                font-size: 2rem;
                color: var(--dark-grayish-violet);
            }

            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
            &[type="number"] {
                -moz-appearance: textfield;
            }
            &:focus-visible {
                border-image: linear-gradient(
                        to right,
                        hsl(249, 99%, 64%),
                        hsl(278, 94%, 30%)
                    )
                    1;
            }
        }

        & .CardForm-expiry-cvc-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 2.5rem;

            & .CardForm-expiry-wrapper {
                width: 50%;
                & input {
                    width: 40%;
                    margin: 0.5rem 1rem 0 0;

                    &:first-child {
                        float: left;
                    }

                    &:last-child {
                        float: right;
                    }
                }
            }

            & .CardForm-cvc-wrapper {
                width: 50%;
                & input {
                    width: 100%;
                    margin-top: 0.5rem;
                }
            }
        }

        & button {
            cursor: pointer;
            font-size: 1.6rem;
            color: white;
            background-color: var(--very-dark-violet);
            border: none;
            border-radius: 10px;
            padding: 1.8rem 0rem;
            margin-top: 4rem;
        }
    }
}
