:root {
    /*----Colors----*/
    --linear-gradient-from: hsl(249, 99%, 64%);
    --linear-gradient-to: hsl(278, 94%, 30%);
    --input-errors: hsl(0, 100%, 66%);
    --white-color: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}
/*----Fonts----*/
@font-face {
    font-family: Grotesk;
    src: url("./assets/fonts/SpaceGrotesk-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Grotesk;
    src: url("./assets/fonts/SpaceGrotesk-Medium.ttf");
    font-weight: 500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    hyphens: none;
}

img {
    width: 100%;
}
