:root {
    /*----Colors----*/
    --linear-gradient-from: hsl(249, 99%, 64%);
    --linear-gradient-to: hsl(278, 94%, 30%);
    --input-errors: hsl(0, 100%, 66%);
    --white-color: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}
/*----Fonts----*/
@font-face {
    font-family: Grotesk;
    src: url("./assets/fonts/SpaceGrotesk-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Grotesk;
    src: url("./assets/fonts/SpaceGrotesk-Medium.ttf");
    font-weight: 500;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    -webkit-hyphens: none;
            hyphens: none;
}
.App > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.Card {
    width: 40%;
    background-image: url("/src/assets/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: contain;
    padding-left: 13rem;
}
.Card .Card-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.Card-front {
    width: 44.7rem;
    color: var(--white-color);
    background-image: url("/src/assets/images/bg-card-front.png");
    background-repeat: no-repeat;
    padding: 0 3rem 0 3rem;
}
.Card-front .Card-logo {
        padding: 3rem 0 6rem 0;
    }
.Card-front .Card-number {
        font-size: 3rem;
    }
.Card-front .Card-name-date {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2rem 0 3rem 0;
    }
.Card-front .Card-name-date .Card-name {
            font-size: 1.6rem;
            text-transform: uppercase;
        }
.Card-front .Card-name-date .Card-date {
            font-size: 1.5rem;
        }
.Card-back {
    width: 44.7rem;
    position: relative;
    padding: 4rem 0 0 6rem;
}
.Card-back .Card-csv-number {
        position: absolute;
        top: 15.2rem;
        right: 0rem;
        color: var(--white-color);
        font-size: 1.5rem;
    }
.CardForm {
    width: 60%;
}
.CardForm-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24rem;
}
.CardForm-wrapper {
    width: 40%;
}
.CardForm-wrapper form {
        display: flex;
        flex-direction: column;
    }
.CardForm-wrapper form label {
            color: var(--very-dark-violet);
            font-size: 1.8rem;
            text-transform: uppercase;
            padding: 2.5rem 0 0.5rem 0;
        }
.CardForm-wrapper form input {
            font-size: 2rem;
            color: var(--dark-grayish-violet);
            height: 4rem;
            border: 1px solid var(--light-grayish-violet);
            border-radius: 10px;
            padding: 2rem 1rem;
        }
.CardForm-wrapper form input::placeholder {
                font-size: 2rem;
                color: var(--dark-grayish-violet);
            }
.CardForm-wrapper form input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
.CardForm-wrapper form input::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
.CardForm-wrapper form input[type="number"] {
                -moz-appearance: textfield;
            }
.CardForm-wrapper form input:focus-visible {
                border-image: linear-gradient(
                        to right,
                        hsl(249, 99%, 64%),
                        hsl(278, 94%, 30%)
                    )
                    1;
            }
.CardForm-wrapper form .CardForm-expiry-cvc-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 2.5rem;
        }
.CardForm-wrapper form .CardForm-expiry-cvc-wrapper .CardForm-expiry-wrapper {
                width: 50%;
            }
.CardForm-wrapper form .CardForm-expiry-cvc-wrapper .CardForm-expiry-wrapper input {
                    width: 40%;
                    margin: 0.5rem 1rem 0 0;
                }
.CardForm-wrapper form .CardForm-expiry-cvc-wrapper .CardForm-expiry-wrapper input:first-child {
                        float: left;
                    }
.CardForm-wrapper form .CardForm-expiry-cvc-wrapper .CardForm-expiry-wrapper input:last-child {
                        float: right;
                    }
.CardForm-wrapper form .CardForm-expiry-cvc-wrapper .CardForm-cvc-wrapper {
                width: 50%;
            }
.CardForm-wrapper form .CardForm-expiry-cvc-wrapper .CardForm-cvc-wrapper input {
                    width: 100%;
                    margin-top: 0.5rem;
                }
.CardForm-wrapper form button {
            cursor: pointer;
            font-size: 1.6rem;
            color: white;
            background-color: var(--very-dark-violet);
            border: none;
            border-radius: 10px;
            padding: 1.8rem 0rem;
            margin-top: 4rem;
        }
.ErrorMessage-container {
    padding-top: 0.5rem;
}
.ErrorMessage-container p {
        color: var(--input-errors);
        font-size: 1.2rem;
    }
